.total {
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 80%;
  min-width: 80%;
  margin: 30px 0;
  background-color: var(--Very-dark-cyan);
  border-radius: 15px;
  padding: 30px 15px 5px 15px;
}

.total div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  justify-self: flex-start;
}

.totalLeft {
  display: flex;
  flex-direction: column;
}

.totalTop {
  color: var(--White);
  font-size: medium;
  margin-bottom: 5px !important;
}

.totalBottom {
  font-size: small;
  color: var(--Dark-blueish-cyan);
}

.totalRight {
  font-size: xx-large;
  color: var(--Strong-cyan);
}

.total button {
  color: var(--Very-dark-cyan);
  font-size: large;
  font-weight: 700;
  width: 100%;
  max-width: 100%;
  background-color: var(--Dark-grayish-cyan);
}

.total button:hover {
  background-color: var(--Strong-cyan);
}

@media (min-width: 900px) {
  .total {
    height: 100%;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    justify-self: end;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 95%;
  }

  .total div {
    flex-direction: row;
    width: 100%;
  }

  .total .totalLeft {
    flex-direction: column;
    justify-content: flex-start;
  }

  .total .totalRight {
    justify-content: flex-end;
  }

  .total button {
    align-self: flex-end;
  }
}
